<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class=" text-center">USER MANUAL</h1> </div>
    <div class="col-xs-8 col-xs-offset-2"> 
        <img src="images/MatrixBruteLogo_BLACK.png" class="img-responsive " style="margin-top: 6.5cm;" alt=""> 
    </div>
    <div class="col-xs-4 col-xs-offset-4"> 
        <img src="images/Logo-Baseline-@1x.png" class="img-responsive " style="margin-top:6.5cm; " alt=""> 
    </div>
</div>

