<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class=" text-center">USER MANUAL</h1> </div>
    <div class="col-xs-10 col-xs-offset-1"> 
        <img src="/images/<%= product_sku(current_page.path) %>/logo-product.png" class="img-responsive " style="margin-top: 6.5cm;" alt="">
    </div>
    <div class="col-xs-6 col-xs-offset-3"> 
        <img src="/images/<%= product_sku(current_page.path) %>/logo-company.png" class="img-responsive " style="margin-top:6.5cm; " alt="">
    </div>
</div>

